<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.admin.system.mapper.DeptMapper">

    <!--通用查询映射结果-->
    <resultMap id="DeptResultMap" type="com.boot.admin.system.model.Dept">
        <id column="dept_id" property="deptId"/>
        <result column="pid" property="pid"/>
        <result column="ancestors" property="ancestors"/>
        <result column="name" property="name"/>
        <result column="is_enabled" property="enabled"/>
        <result column="dept_sort" property="deptSort"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--通用查询结果列-->
    <sql id="DeptColumnList">
        dept_id, pid, ancestors, name, is_enabled, dept_sort, create_by, update_by, create_time, update_time
    </sql>

    <select id="selectDeptListByRoleId" resultMap="DeptResultMap">
        SELECT d.*
        FROM sys_dept d
        LEFT JOIN sys_role_dept rd ON d.dept_id = rd.dept_id
        WHERE rd.role_id = #{roleId}
    </select>
</mapper>
