<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.admin.system.mapper.UserMapper">

    <!--通用查询映射结果-->
    <resultMap id="UserResultMap" type="com.boot.admin.system.model.User">
        <id column="user_id" property="userId"/>
        <result column="dept_id" property="deptId"/>
        <result column="username" property="username"/>
        <result column="nick_name" property="nickName"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="avatar_name" property="avatarName"/>
        <result column="avatar_path" property="avatarPath"/>
        <result column="password" property="password"/>
        <result column="is_admin" property="admin"/>
        <result column="is_enabled" property="enabled"/>
        <result column="pwd_reset_time" property="pwdResetTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--通用查询结果列-->
    <sql id="UserColumnList">
        user_id, dept_id, username, nick_name, gender, phone, email, avatar_name, avatar_path, password, is_admin, is_enabled, pwd_reset_time, create_by, update_by, create_time, update_time
    </sql>

    <select id="selectUserListByMenuId" resultMap="UserResultMap">
        SELECT u.*
        FROM sys_user u,
             sys_user_role ur,
             sys_role_menu rm
        WHERE u.user_id = ur.user_id
        AND ur.role_id = rm.role_id
        AND rm.menu_id = #{menuId}
        GROUP BY u.user_id
    </select>

    <select id="selectUserListByRoleId" resultMap="UserResultMap">
        SELECT u.*
        FROM sys_user u,
             sys_user_role ur
        WHERE u.user_id = ur.user_id
          AND ur.role_id = #{roleId}
    </select>

    <select id="selectUserListByDeptId" resultMap="UserResultMap">
        SELECT u.*
        FROM sys_user u,
             sys_user_role ur,
             sys_role_dept rd
        WHERE u.user_id = ur.user_id
        AND ur.role_id = rd.role_id
        AND rd.dept_id = #{deptId}
        GROUP BY u.user_id
    </select>

    <select id="countUserIdByDeptIds" resultType="java.lang.Integer">
        SELECT count(1)
        FROM sys_user u
        WHERE u.dept_id IN
        <foreach item='item' index='index' collection='deptIds' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </select>
</mapper>
