<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.utility.mapper.ColumnConfigMapper">

    <select id="selectListFromInformationSchema" resultType="org.utility.model.ColumnConfig">
        SELECT '${tableName}'               AS table_name,
               column_name,
               if(is_nullable = 'NO', 1, 0) AS is_not_null,
               data_type                    AS column_type,
               column_comment               AS remark,
               column_key                   AS key_type,
               extra
        FROM information_schema.columns
        WHERE table_name = #{tableName}
          AND table_schema = (SELECT database())
        ORDER BY ordinal_position
    </select>

    <select id="selectPageFromInformationSchema" resultType="org.utility.model.ColumnConfig">
        SELECT '${tableName}'               AS table_name,
               column_name,
               if(is_nullable = 'NO', 1, 0) AS not_null,
               data_type                    AS column_type,
               column_comment               AS remark,
               column_key                   AS key_type,
               extra
        FROM information_schema.columns
        WHERE table_name = #{tableName}
          AND table_schema = (SELECT database())
        ORDER BY ordinal_position
    </select>
</mapper>
